doctype html
html  
  head
    title Inference
  body
    div    
      h3  Results
      table     
        tr 
          td  Score for application to be hosted on public cloud          
          td  #{cloudScore}
        tr 
          td  Score for application to be hosted on premises
          td  #{onPremScore}
    div
      h3  Inference
      p  #{inferenceMsg}
    div
      table
        tr
          td  
            a(href="print?htmlContent=" + htmlContent): button(type="submit", formmethod="post") Print
          td  
            a(href="save"): button(type="submit", formmethod="post") Save
          td  
            a(href="email?htmlContent=" + htmlContent): button(type="submit", formmethod="post") Email